@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Passion+One&family=Ubuntu&display=swap');

html, body, #root {
    margin: 0;
    height: 100%;
    width: 100%;
}

#root {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-family: 'Ubuntu', sans-serif;
}